.button_right{
    margin-left: auto;
    margin-right: 0;
    float: right;
}
.user_form{
    border: solid teal 1px;
    background: #14993b;
    top: 0;
    height: 100px;
    width: 300px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 0;
}

.login_form{
    border: solid white 1px;
    background: #909699;
    height: 500px;
    width: 500px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;

}
input{
    height: 35px;
    width: 100px;
    border-radius: 5px;
    background: aquamarine;
}

@font-face {
    font-family: DNRB;
    -moz-font-feature-settings: "liga=0";
    src:url("https://d1eipm3vz40hy0.cloudfront.net/fonts/DNRB.eot");
    src:url("https://d1eipm3vz40hy0.cloudfront.net/fonts/DNRB.eot?#iefix") format("embedded-opentype"),
    url("https://d1eipm3vz40hy0.cloudfront.net/fonts/DNRB.woff") format("woff"),
    url("https://d1eipm3vz40hy0.cloudfront.net/fonts/DNRB.ttf") format("truetype"),
    url("https://d1eipm3vz40hy0.cloudfront.net/fonts/DNRB.svg#DNRB") format("svg")
}
body{
    margin: 0;
    padding: 0;
    background: rgb(191, 191, 191);
}

table {width: 100%; border-collapse: collapse;}
table td {padding: 12px 16px;align-items: center}
table thead tr {font-weight: bold; border-top: 1px solid #e8e9eb; background: aquamarine}
table tr {border-bottom: 1px solid #e8e9eb;}
/*table tbody tr:hover {background: #e8f6ff;}*/

#zatemnenie {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#okno {
    width: 500px;
    height: 400px;
    text-align: center;
    padding: 3px;
    /*border: 1px solid #4eeb56;*/
    border-radius: 10px;
    color: #000000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
}

#zatemnenie:target {display: block;}
.close {
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 5px;
    /*color: #78eb73;*/
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: aliceblue;
    font-size: 14pt;
    cursor:pointer;
}
.close:hover {background: #e6e6ff;}

.form_radio_group {
    display: inline-block;
    overflow: hidden;
}
.form_radio_group-item {
    display: inline-block;
    float: left;
}
.form_radio_group input[type=radio] {
    display: none;
}
.form_radio_group label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    border: 1px solid #999;
    border-right: none;
    user-select: none;
}

.form_radio_group .form_radio_group-item:first-child label {
    border-radius: 6px 0 0 6px;
}
.form_radio_group .form_radio_group-item:last-child label {
    border-radius: 0 6px 6px 0;
    border-right: 1px solid #999;
}

/* Checked */
.form_radio_group input[type=radio]:checked + label {
    background: #ffe0a6;
}

/* Hover */
.form_radio_group label:hover {
    color: #666;
}

/* Disabled */
.form_radio_group input[type=radio]:disabled + label {
    background: #efefef;
    color: #666;
}