@font-face {
    font-family: DNRB;
    -moz-font-feature-settings: "liga=0";
    src:url("https://d1eipm3vz40hy0.cloudfront.net/fonts/DNRB.eot");
    src:url("https://d1eipm3vz40hy0.cloudfront.net/fonts/DNRB.eot?#iefix") format("embedded-opentype"),
    url("https://d1eipm3vz40hy0.cloudfront.net/fonts/DNRB.woff") format("woff"),
    url("https://d1eipm3vz40hy0.cloudfront.net/fonts/DNRB.ttf") format("truetype"),
    url("https://d1eipm3vz40hy0.cloudfront.net/fonts/DNRB.svg#DNRB") format("svg")
}
body{
    margin: 0;
    padding: 0;
    background: rgb(191, 191, 191);
}

table {width: 100%; border-collapse: collapse;}
table td {padding: 12px 16px;align-items: center}
table thead tr {font-weight: bold; border-top: 1px solid #e8e9eb; background: aquamarine}
table tr {border-bottom: 1px solid #e8e9eb;}
table tbody tr:hover {background: #e8f6ff;}

